@import "tailwindcss";

.auth {
    transform: scale(0.95) translateY(50%) translateX(-50%);
    transition: opacity $transition, transform $transition, visibility $transition;
    @apply fixed z-[20] w-[420px] flex flex-col gap-[40px] items-center h-fit bg-white-custom rounded-[12px] py-[64px] px-[40px] 
    opacity-0 invisible pointer-events-none top-[50%] left-[50%];

    &:target {
        transform: scale(1) translateY(-50%) translateX(-50%);
        @apply opacity-100 visible pointer-events-auto
    }

    &__exit {
        transition: background-color $transition;
        @apply absolute top-0 right-[-72px] cursor-pointer flex items-center justify-center w-[48px] h-[48px] rounded-[50%] 
        bg-white-custom hover:bg-white-25-custom text-black-custom
    }

    &__form,
    &__wrapper {
        @apply flex flex-col w-full gap-[24px] items-center
    }

    &__fields {
        @apply flex flex-col gap-[12px] w-full
    }

    &__btn {
        @apply flex justify-center items-center w-full text-[18px]/[24px] bg-cornflower-blue h-[56px] rounded-[28px] 
        text-white-custom;

        &--link {
            @apply h-[24px] bg-transparent text-black-custom
        }
    }

    &__title {
        @apply text-[24px] font-bold
    }

    &__content {
        @apply text-[18px] text-center
    }
}
