@import "tailwindcss";

.auth__form, .auth__wrapper {
    @apply flex flex-col w-full gap-[24px] items-center
}

.auth__fields {
    @apply flex flex-col gap-[12px] w-full
}

.auth__btn {
    @apply flex justify-center items-center w-full text-[18px]/[24px] bg-[#67A5EB] h-[56px] rounded-[28px] text-white
}

.auth__btn--link {
    @apply h-[24px] bg-transparent text-black
}

.auth__title {
    @apply text-[24px] font-bold
}

.auth__content {
    @apply text-[18px] text-center
}

.auth {
  position: fixed;
  inset: 0;
  z-index: 20;
  margin: auto;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  height: fit-content;
  background-color: white;
  border-radius: 12px;
  padding: 64px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.auth:target {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}

.auth__exit {
  position: absolute;
  top: 0;
  right: -72px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.auth__exit:hover {
    background-color: #ffffffaa;
}
