@import "tailwindcss";

.custom-input {
    @apply relative h-[56px];

    &__field {
        transition: border $transition, outline $transition;
        @apply w-full h-[100%] border-[1px] border-black-40-custom rounded-[8px] py-[16px] px-[16px] pl-[52px] 
        hover:border-cornflower-blue focus-visible:outline-cornflower-blue focus-visible:outline-[2px] absolute top-0 left-0;

        &::placeholder {
            transition: color $transition;
        }

        &:hover {
            +.custom-input__image {
                @apply text-cornflower-blue
            }

            &::placeholder {
                @apply text-cornflower-blue
            }
        }
    }

    &__image {
        transition: color $transition;
        @apply absolute top-[50%] translate-y-[-50%] left-[12px] text-black-40-custom pointer-events-none;
    }
}