@import "tailwindcss";

.genre-page {
    @apply flex flex-col gap-[64px];

    &__link {
        transition: transform $transition;
        @apply flex gap-[16px] items-center cursor-pointer w-[200px];

        &:hover {
            transform: translateX(-10px)
        }
    }

    &__icon {
        @apply text-white-custom
    }

    &__title {
        @apply font-bold text-[48px] text-white-custom m-0;
    }

    &__list {
        @apply flex flex-wrap gap-y-[64px] gap-x-[40px];
    }

    &__item {
        width: calc(20% - 32px)
    }
}