@import "tailwindcss";

.header {
  @apply mb-[30px] bg-transparent h-[96px] flex items-center;

  &:has(.header__link--user-active) {
    @apply mb-[64px]
  }

  &__base {
    grid-template-columns: 144px 1fr 69px;
    @apply items-center grid gap-[80px] h-full w-full;

    &::before {
      @apply w-full h-full absolute z-10 bg-black-40-custom top-0 left-0 opacity-0 content-[''] pointer-events-none transition-opacity duration-300;
    }

    &:has(.auth:target)::before {
      @apply opacity-100 pointer-events-auto
    }
  }

  &__link {
    font-family: $ff-play;
    transition: transform $transition;
    @apply text-white-custom text-[24px] flex items-center gap-[12px] bg-transparent border-none hover:text-white-custom cursor-pointer p-0 relative flex justify-center;

    &::before {
      transition: opacity $transition;
      @apply absolute w-full content-[''] bg-heliotrope h-[2px] bottom-0 opacity-0
    }

    &:hover {
      transform: scale(1);

      &::before {
        @apply opacity-100
      }
    }

    &--active::before {
      @apply opacity-100
    }

    &--user {
      @apply h-[48px]
    }

    &--main {
      transition: transform $transition;

      &:hover {
        transform: scale(1.1);
      }

      &::before {
        display: none;
      }
    }
  }

  &__center {
    grid-template-columns: 80px 80px 1fr;
    @apply grid gap-[40px]
  }

  &__link-icon {
    display: none;
  }

  &__center-icon {
    display: none;
  }

  &__search-btn {
    display: none;
  }

  .custom-input--search-2{
    display: none;
  }

  @include vp-desktop {
    &__base {
      gap: 20px;
    }

    &__link--home {
      display: none;
    }

    &__center {
      grid-template-columns: 80px 1fr;
      align-items: center;
    }

    &__link {
      height: 100%;
    }
  }

  @include vp-tablet {
    &__link {
      &::before {
        display: none;
      }
    }

    &__link-icon {
      display: block;
      color: $color-white;
      transition: color $transition;

      &:hover {
        color: $color-white-75
      }
    }

    &__search-btn {
      display: block;
      cursor: pointer;
    }

    &__link-search-icon {
      display: block;
      color: $color-white;
      transition: color $transition;

      &:hover {
        color: $color-white-75
      }
    }

    &__link--main {
      @apply flex justify-start;

      &:hover {
        transform: scale(1);
      }
    }

    &__link-text {
      display: none;
    }

    &__center {
      grid-template-columns: 24px 24px;
      gap: 20px;
    }

    &__base {
      display: grid;
      grid-template-columns: 1fr 68px 24px;
    }

    &__center-icon {
      display: block;
      color: white
    }

    .custom-input--search {
      display: none;
      @apply flex absolute opacity-0 z-[-10];
      transition: opacity $transition;
    }

    &__search-btn--open ~ .custom-input--search {
      @apply flex opacity-100 z-[20]
    }
  }
}