@import "tailwindcss";

.link-movie {
    @apply relative bg-transparent h-full w-full overflow-hidden;

    &:hover {
        .link-movie__img {
            transform: scale(1.05);
        }

        .link-movie__title {
            transform: scale(1.05);
        }

        .link-movie__number {
            transform: scale(1.05) translateX(-10px) translateY(-10px);
        }
    }

    &__number {
        transition: transform $transition;
        @apply absolute w-[62px] h-[48px] flex justify-center items-center text-[24px]/[32px] top-[-12px] left-[-12px] 
        rounded-[50px] bg-white-custom text-slate-blue font-bold z-[30]
    }

    &__img {
        transition: transform $transition;
        object-fit: cover;
        @apply rounded-[16px] h-auto
    }

    &__title {
        transition: transform $transition;
        @apply w-full h-full text-[20px] bg-white-custom flex items-center justify-center text-black-custom rounded-[16px]
    }
}