@import "tailwindcss";

.movie {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    @apply relative min-h-[400px] grid items-start gap-[20px];

    &__content {
        @apply max-w-[665px] flex-col flex gap-[60px] w-full
    }

    &__info {
        @apply flex flex-col gap-[16px]
    }

    &__basic-info {
        @apply text-[18px] text-white-70-custom flex gap-[16px] items-center
    }

    &__rating {
        @apply w-[70px] rounded-[16px] flex gap-[4px] justify-center items-center h-[32px] text-white-custom
    }

    &__title {
        @apply font-bold text-[48px]/[56px] text-white-custom
    }

    &__plot {
        @apply text-[24px]/[32px] text-white-70-custom
    }

    &__btns {
        @apply h-[56px] flex gap-[16px]
    }

    &__btn {
        transition: background-color $transition;
        @apply bg-[#333333] rounded-[28px] font-bold text-white-custom text-[18px] border-black-40-custom border-[1px] hover:bg-cornflower-blue flex justify-center items-center cursor-pointer w-[171px];

        &--2 {
            @apply w-[183px] flex justify-center items-center hover:text-white-custom
        }

        &--3 {
            @apply w-[68px] flex justify-center
        }

        &:disabled {
            @apply bg-white
        }

        &:has(.movie__icon--favourite):disabled {
            @apply bg-perano
        }
    }

    &__image {
        @apply rounded-[16px] w-full max-w-[680px] justify-self-start;
    }

    &__icon {
        @apply text-white;

        &--favourite {
            @apply text-perano
        }
    }

    &--no-backdropURL {
        @apply flex flex-col-reverse min-h-0;

        .movie__content {
            max-width: 100%;
        }
    }

    @include responsive($vp-lg, 1100px) {
        &__btn {
            @apply text-[14px]
        }
    }

    @include vp-desktop {
        &__content {
            @apply gap-[32px]
        }

        &__title {
            @apply text-[32px]/[40px]
        }

        &__plot {
            @apply text-[21px]/[27px]
        }

        &__btns {
            grid-template-rows: 56px 56px;
            grid-template-columns: 1fr 68px 68px;

            @apply grid h-[128px];

            &--about {
                grid-template-columns: 1fr 68px;
                grid-template-rows: 56px;
                @apply h-[56px];

                .movie__btn--1 {
                    grid-column: 1 / 1;
                }
            }
        }

        &__btn--1 {
            grid-column: 1 / 4;
            @apply w-full
        }

        &__btn--2 {
            @apply w-full
        }
    }

    @include responsive(760px) {
        @apply flex flex-col-reverse
    }

    @mixin vp-tablet {
        &__title {
            @apply text-[24px]/[32px]
        }

        &__plot {
            @apply text-[18px]/[24px]
        }

        &__basic-info {
            @apply text-[14px]/[20px] gap-[16px]
        }
    }
}