.search-results {
    transition: opacity $transition;
    @apply w-[560px] bg-montana absolute top-[60px] right-0 z-30 rounded-[6px] p-[8px] opacity-100;

    &--empty {
        @apply opacity-0 pointer-events-none
    }

    &__list {
        @apply flex flex-col
    }

    &__item {
        @apply min-h-[92px]
    }

    @include vp-tablet {
        width: 100%;
        padding: 24px 20px;
        height: auto;
        max-height: calc(100vh - 90px);
        overflow: hidden;

        &__list {
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto;
            align-items: flex-start;
            @apply gap-[16px];
            margin: 0 -20px;
            padding: 0 20px;

            &::-webkit-scrollbar { 
                display: none; 
            }
        }

        &__item {
            width: 220px;
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
}