@import "tailwindcss";

// Colors

$color-white: #ffffff;
$color-white-25: rgba(255, 255, 255, 0.25);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-black: #000000;
$color-nero-70: rgba(39, 36, 36, 0.7);
$color-dodger-blue-90: rgba(39, 135, 245, 0.9);
$color-biloba-flower-90: rgba(163, 147, 245, 0.9);

@theme {
    --color-white-custom: #ffffff;
    --color-white-25-custom: rgba(255, 255, 255, 0.25);
    --color-white-50-custom: rgba(255, 255, 255, 0.5);
    --color-white-70-custom: rgba(255, 255, 255, 0.7);
    --color-white-80-custom: rgba(255, 255, 255, 0.8);
    --color-black-custom: #000000;
    --color-cornflower-blue: #67A5EB;
    --color-black-40-custom: rgba(0, 0, 0, 0.40);
    --color-heliotrope: #DC5DFC;
    --color-montana: #393B3C;
    --color-slate-blue: #6A5DC2;
}

// Typography

$ff-play: 'Play', 'Arial', sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition: ease-in 0.3s;
// $transition-animation: ease-in 1s
