@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #171717;
}

@font-face {
  font-family: "Play";
  src: url("../fonts/Play-Bold.ttf")
}

@font-face {
  font-family: "Play";
  src: url('../fonts/Play-Regular.ttf') 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.layout {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(39, 36, 36, 0.7) 100%);
  font-family: 'Play', 'Arial', sans-serif;
}

.header {
  @apply mb-[30px]
}
